<div class="container m-t-2">
    <div class="row">
        <h2 class="text-xs-center m-y-2" >В этом разделе кратенько <br> написана моя автобиография</h2>

        <p>
            <span class="text-primary">Дата рождения:</span>
            <!-- todo: сделать возраст чтобы вычислялся автоматически-->
            <span>9 Января 1982 г. (34 полных года)</span>
        </p>

        <p>
            <span class="text-primary">Школа:</span>
            <span>Средняя школа №1, в городе Бишкек (Крыгзстан)</span>
        </p>




    </div>
</div>