<div class="container m-t-2 history">
    <div class="row">
        <h2 class="text-xs-center m-y-2">в этом разделе кратенько <br> написана моя автобиография</h2>

        <p>
            <span class="text-primary">дата рождения:</span>
            <!-- todo: сделать возраст чтобы вычислялся автоматически-->
            <span>9 января 1982 г. ({{age}} полных года)</span>
        </p>

        <p>
            <span class="text-primary">школа:</span>
            <span>средняя школа №1, в городе бишкек (крыгзстан)</span>
        </p>

        <p>
            <span class="text-primary">высшее образование:</span>
            врач анестезилог-реаниматолог. 1999-2007 кыргызская государственная медицинская академия. лечебное дело,
            анестезиология и реанимация.
        </p>

        <p>
            <span class="text-primary">курсы повышения квалификации:</span>
        </p>
        <ul>
            <li>кыргызско-японский центр человеческого развития - курс управления бизнесом.</li>
            <li>якобс аудит - бухгалтерский учет.</li>
            <li>като-экономикс - программирование 1с 8.2</li>
        </ul>

        <p>
            <span class="text-primary">опыт работы по специальности.:</span>
         </p>

        <ul>
            <li>2005-2006 фельдшер скорой медицинской помощи.</li>
            <li>2007-2009 врач реаниматолог, институт фтизиатрии.</li>
            <li>2009 врач реаниматолог 1 городской клинической больницы.</li>
        </ul>

        <p>
            <span class="text-primary">опыт работы не связанный с медециной.</span>
        </p>

        <p>
            <b>2003-2004 риэлтор. </b>
            риэлтор компании сан-риелт бишкек.(холдинг sun & ko).  основные обязанности: поиск и продажа недвижимости.
        </p>
        <p>
            <b>2004-2005 руководитель отдела продаж,</b>
            компании санриелт (холдинг sun & ko)
            основные обязанности:
        </p>

        <ul>
            <li>управление персоналом.</li>
            <li>учет объектов недвижимости.</li>
            <li>организация взаимодействия между отделом продаж, юридическим и бухгалтерским отделом.</li>
            <li>организация рекламной деятельности</li>
            <li>работа с vip клиентами, продажа крупных жилых и промышленных объектов.</li>
        </ul>

        <p>
            <b>2005-2006 заместитель ген. директора</b>
            компании санриелт (холдинг sun & ko)
            основные обязанности:
        </p>
        <ul>
            <li>управление персоналом.</li>
            <li>учет объектов недвижимости</li>
            <li>организация взаимодействия между отделом продаж, юридическим и бухгалтерским отделом.</li>
            <li>организация и проведение быстрых юридических проверок поступающих объектов недвижимости.</li>
            <li>организация рекламной деятельности.</li>
            <li>работа с vip клиентами, продажа крупных жилых и промышленных объектов.</li>
            <li>контроль работы бухгалтерии</li>
            <li>организация взаимодействия между риторскими компаниями</li>
            <li>брендинг компании санриелт (холдинг sun & ko).</li>
            <li>проработка сектора нового строительства с целью получения эксклюзивных прав на торговлю новыми обьектами.</li>
        </ul>

        <b>2006-2008 директор компании “даста-рек” </b>
        <p>
            основной вид деятельности компании - рекламные услуги.
            за счет разработанного и внедренного программного обеспечения удалось охватить 65% рынка рекламы в риэлторских компаниях. основные услуги - размещение рекламных объявлений.
        </p>
        <ul>
            <li>мелко - тиражная полиграфия.</li>
            <li>планирование и организация рекламных компаний, btl акций.</li>
            <li>ведение в рекламе ночного клуба джуманджи.</li>
            <li>подрядные работы зао “халык-банк кыргызстан”</li>
            <li>подрядные работы осоо “компания аис” (производство и продажа алкоголя)</li>
        </ul>

        <b>2009 год. руководитель отдела маркетинга и рекламы ид “слово кыргызстана”</b>
        <p>обязанности:</p>
        <ul>
            <li>управление рекламным отделом</li>
            <li>поиск потенциальных рекламодателей</li>
            <li>зарабатывание денег</li>
        </ul>
        <p>проведена огромная работа в ид “ск” с моим участием </p>
        <ol>
            <li>внедрен учет бухгалтерии на основе 1с 8.1</li>
            <li>пересмотрен и реструкторизирован штатный персонал</li>
            <li>проведен юридический аудит.</li>
            <li>реструкторизирована и выведена на современный уровень подача материалов, организовано беспрерывное производство материала, значительно возросло качество материалов.</li>
            <li>разработан и запущены специальные выпуски “слово кыргызстана” посвященные разным тематикам, что позволило увеличить в 2-3 раза заработную плату персоналу участвующему в выпуске данного издания.</li>
            <li>начата работа по преобразованию ид “ск” в полномасштабное само-окупаемое современное средство массовой информации.</li>
            <li>реструктуризовано распространение газет.</li>
            <li>увеличено количество продаваемых газет</li>
            <li>организовано и стало доступным проведение пресс-конференций на площадке издательского дома</li>
            <li>организовано и стало доступным проведение пресс-конференций на площадке издательского дома</li>
            </li>
        </ol>
        <p>за всю историю ид "слово кыргызстана" (75 лет) не продавало такое количество газет как под моим управлением, и небыло так приыльно</p>

<b>2009-2011 руководитель отдела маркетинга осоо “компании аис”</b>
        <p>основные обязанности:</p>
        <ul>
            <li>брендинг компании аис, формирование положительного имиджа компании.</li>
            <li>разработка и заказ новых брендов, расширение линеек продукции</li>
            <li>разработка и проведение рекламных компаний</li>
        </ul>
        <p>в результате работы в компании разработано и произведен ребрендинг более 30 товарных единиц продукции. компания аис до моего прихода занимала нишу самого дешевого сегмента, продавая его на юге республики с небольшой долей.
            по результатам проведенной работы компания аис расширила ассортимент и отвоевала 12% рынка среднего сегмента водки, увеличила с 10-12%  до 17-20% доли рынка дешевого сегмента на юге республики.
        </p>

<b>2011г руководитель торгового дома компании аис в городе бишкек.</b>
        <p>основные обязанности:</p>
        <ul>
            <li>организация с нуля торгового дома в г. бишкек</li>
            <li>управление персоналом</li>
            <li>маркетинг и брендинг производимой продукции</li>
            <li>организация учета и отчетности перед учредителями.</li>
        </ul>
        <p>торговый дом запущен, работает по настоящее время.</p>

        <b>2012-2015 директор компании “рейнгард”</b>
        <p>профиль компании маркетинг, реклама, электронная коммерция.</p>
<p>издательство журнала “спиртные напитки”.</p>
        <p>подрядные работы зао “халык банк кыргызстан” - делали все что связно с рекламой  от визитки до роликов и наружной рекламы, годовые отчеты банка.</p>
        <p>разработка сайтов, систем автоматизации.</p>
        <p>разработка системы обмена между 1с и сайтом, разработка сайта для компании “hi-tech”.</p>
        <p>разработка и внедрение системы учета заказов  курьерской службы “ковер-самолет”.</p>
        <p>разработка систем учета розничной торговли для мелкооптовых магазинов и небольших торговых сетей.</p>

<b>2012 руководитель проекта “компот” от компании акнет </b>
        <p>компот это электронный магазин товаров широкого потребления, за 3 месяца работы удалось запустить с нуля магазин, организовать работу с поставщиками продукции, внести весь ассортимент товаров на сайт. разработать, организовать и провести рекламную компанию. через новый электронный магазин (организован за 2 недели до нового года) в предновогодний период удалось продать 2,5 тоны мандаринов, и пиротехнику на сумму около полумиллиона сомов.</p>

    <b>2012. программист компании достек групп.</b>
        <p>основные обязанности:</p>
        <ul>
            <li>разработка фронтенда системы сочи (см ниже)</li>
        </ul>

        <b>2013. руководитель проекта “сочи” компании достек групп</b>
        <p>сочи- система бухгалтерской и финансовой отчетности через интернет
            (система успешно развита и работает по сегодняшний день)
        </p>
        <p>основные обязанности:</p>
        <ul>
            <li>организация разработки системы</li>
            <li>организация продвижения и продаж электронно-цифровых подписей используемых в системе отчетности (сочи)</li>
            <li>организация работы по обеспечению безотказности работы системы</li>
            <li>организация работы по обеспечению информационной безопасности системы</li>
            <li>организация маркетинговых исследований.</li>
            <li>организация взаимодействия с государственными органами для внедрения электронно-цифровых подписей</li>
            <li>организация разработки и внедрения систем использования электронно-цифровых подписей в электронных документооборотах государственных органов.</li>
            <li>организация и брендинг компании достек групп на рынке кыргызстана.</li>
            <li>организация смежных услуг способствующих продвижению электронно цифровой подписи</li>

        </ul>

        <b>2013-2014 инженер программист зао “верхне-нарынские гидроэлектростанции”.</b>
        <p>основные обязанности:</p>
        <ul>
            <li>организация it инфраструктуры зао “внгэс”</li>
            <li>составление планов закупок тмз для it инфраструктуры.</li>
            <li>закупка и внедрение оборудования it инфраструктуры</li>
            <li>внедрение электронного документооборота в зао</li>
            <li>развитие и поддержка сайта “зао верхне-нарынские гидроэлетростанции”</li>
        </ul>

        <b>2014-2015. специалист по закупкам 1 категории зао верхне-нарынские гидроэлектростанции.</b>
        <p>основные обязанности:</p>
        <ul>
            <li>организация и проведение тендерных  закупок по годовому плану</li>
            <li>подготовка отчетности о проведенной работе.</li>
            <li>организация и ведение договорных мероприятий, курирование договоров по общехозяйственному профилю.</li>
        </ul>
        <br>
        <b>2015 (сентябрь)</b> - по настоящее время фрилансер, web разработчик.
        <br>
        <br>
        <b>2016 год - 2 месяца фриланс, 6 месцев студия веб разработки WCL, проeкт WatchJ ( смотрите в портфолио) </b>
        <br>
        <br>
        <b> Сентябрь 2016 по 1 Апреля 2017 года. </b> Web программист компании logistauto. Проект IPricer ( смотрите в портфолио).

        <br>
        <br>
        <b> Май 2017 по Сентябьрь 2017 года. </b> Web программист проекта www.dater.com.
        <br>

        <br>
        <b> Сентябрь 2017 по Октябрь 2017 года. </b> Web программист проекта http://www.genoa.io/.
        <br>

        <br>
        <b> Октябрь 2017 по Декабрь 2017 года. </b> Web программист компании https://bookit.kg
        <br>
        <br><br>



        <p>другая информация:</p>
        <ul>
            <li>проектный менеджмент, sturt up</li>
            <li>маркетинг, реклама</li>
            <li>продажи</li>
            <li>стратегический менеджмент</li>
            <li>управление командой (до 50 человек)</li>
            <li>бизнес планирование</li>
        </ul>

        <p>
            профессиональные навыки:
        </p>
        <p>опытный пользователь os windows, os linux, ms office, adobe photoshop, adobe illustrator, 1-с бухгалтерия, internet, программирование на c#, php, css, html, 1с.
            symfony2.7,  sass/scss, jade, gulp.js, grunt, compass, botstrap3, bootstrap4, angular.
            администрирование серверов на unix системах.
            юридический аудит, финансовые показатели и коэфицианты, бухгалтерский учет.
        </p>

        <p>знание языков:</p>
        <ul>
            <li>русский родной</li>
            <li>английский технический.</li>
        </ul>

        <p>хобби:  автоматизация окружающего пространства, робототехника, программирование на php, с# , медицина - со стороны фармакологии, бионики, кибернетики. live-hacking.</p>

        <p>личные характеристики: коммуникабельный, с аналитическими способностями,
            общительный, творческий.
        </p>

    </div>
</div>