<div class="container m-t-2 history">
    <div class="row">
        <h2 class="text-xs-center m-y-2">В этом разделе кратенько <br> написана моя автобиография</h2>

        <p>
            <span class="text-primary">Дата рождения:</span>
            <!-- todo: сделать возраст чтобы вычислялся автоматически-->
            <span>9 Января 1982 г. (34 полных года)</span>
        </p>

        <p>
            <span class="text-primary">Школа:</span>
            <span>Средняя школа №1, в городе Бишкек (Крыгзстан)</span>
        </p>

        <p>
            <span class="text-primary">Высшее Образование:</span>
            Врач Анестезилог-Реаниматолог. 1999-2007 Кыргызская государственная медицинская академия. Лечебное дело,
            Анестезиология и Реанимация.
        </p>

        <p>
            <span class="text-primary">Курсы повышения квалификации:</span>
        </p>
        <ul>
            <li>Кыргызско-Японский центр человеческого развития - курс управления бизнесом.</li>
            <li>Якобс аудит - Бухгалтерский учет.</li>
            <li>Като-экономикс - Программирование 1с 8.2</li>
        </ul>

        <p>
            <span class="text-primary">Опыт работы по специальности.:</span>
         </p>

        <ul>
            <li>2005-2006 Фельдшер скорой медицинской помощи.</li>
            <li>2007-2009 Врач Реаниматолог, Институт фтизиатрии.</li>
            <li>2009 Врач Реаниматолог 1 Городской клинической больницы.</li>
        </ul>

        <p>
            <span class="text-primary">Опыт работы не связанный с медециной.</span>
        </p>

        <p>
            <b>2003-2004 Риэлтор. </b>
            Риэлтор компании Сан-Риелт Бишкек.(холдинг Sun & ko).  Основные обязанности: Поиск и продажа недвижимости.
        </p>
        <p>
            <b>2004-2005 Руководитель отдела продаж,</b>
            компании СанРиелт (холдинг Sun & ko)
            Основные обязанности:
        </p>

        <ul>
            <li>Управление персоналом.</li>
            <li>Учет объектов недвижимости.</li>
            <li>Организация взаимодействия между отделом продаж, юридическим и бухгалтерским отделом.</li>
            <li>Организация рекламной деятельности</li>
            <li>Работа с vip клиентами, продажа крупных жилых и промышленных объектов.</li>
        </ul>

        <p>
            <b>2005-2006 Заместитель ген. директора</b>
            компании СанРиелт (холдинг Sun & ko)
            Основные обязанности:
        </p>
        <ul>
            <li>Управление персоналом.</li>
            <li>Учет объектов недвижимости</li>
            <li>Организация взаимодействия между отделом продаж, юридическим и бухгалтерским отделом.</li>
            <li>Организация и проведение быстрых юридических проверок поступающих объектов недвижимости.</li>
            <li>Организация рекламной деятельности.</li>
            <li>Работа с vip клиентами, продажа крупных жилых и промышленных объектов.</li>
            <li>Контроль работы бухгалтерии</li>
            <li>Организация взаимодействия между риторскими компаниями</li>
            <li>Брендинг компании СанРиелт (холдинг Sun & ko).</li>
            <li>Проработка сектора нового строительства с целью получения эксклюзивных прав на торговлю новыми обьектами.</li>
        </ul>

        <b>2006-2008 Директор компании “Даста-Рек” </b>
        <p>
            Основной вид деятельности компании - рекламные услуги.
            За счет разработанного и внедренного программного обеспечения удалось охватить 65% рынка рекламы в риэлторских компаниях. Основные услуги - размещение рекламных объявлений.
        </p>
        <ul>
            <li>Мелко - тиражная полиграфия.</li>
            <li>Планирование и организация рекламных компаний, btl акций.</li>
            <li>Ведение в рекламе Ночного клуба Джуманджи.</li>
            <li>Подрядные работы ЗАО “Халык-Банк Кыргызстан”</li>
            <li>Подрядные работы ОсОО “Компания АиС” (производство и продажа алкоголя)</li>
        </ul>

        <b>2009 год. Руководитель отдела маркетинга и рекламы ИД “Слово Кыргызстана”</b>
        <p>Обязанности:</p>
        <ul>
            <li>Управление рекламным отделом</li>
            <li>Поиск потенциальных рекламодателей</li>
            <li>Зарабатывание денег</li>
        </ul>
        <p>Проведена огромная работа в ИД “СК” с моим участием </p>
        <ol>
            <li>Внедрен учет Бухгалтерии на основе 1с 8.1</li>
            <li>Пересмотрен и реструкторизирован штатный персонал</li>
            <li>Проведен юридический аудит.</li>
            <li>Реструкторизирована и выведена на современный уровень подача материалов, организовано беспрерывное производство материала, значительно возросло качество материалов.</li>
            <li>Разработан и запущены специальные выпуски “Слово Кыргызстана” посвященные разным тематикам, что позволило увеличить в 2-3 раза заработную плату персоналу участвующему в выпуске данного издания.</li>
            <li>Начата работа по преобразованию ИД “СК” в полномасштабное само-окупаемое современное средство массовой информации.</li>
            <li>Реструктуризовано распространение газет.</li>
            <li>Увеличено количество продаваемых газет</li>
            <li>Организовано и стало доступным проведение пресс-конференций на площадке издательского дома</li>
            <li>Организовано и стало доступным проведение пресс-конференций на площадке издательского дома</li>
            </li>
        </ol>
        <p>За всю историю ИД "Слово Кыргызстана" (75 лет) не продавало такое количество газет как под моим управлением, и небыло так приыльно</p>

<b>2009-2011 Руководитель отдела маркетинга ОсОО “Компании Аис”</b>
        <p>Основные обязанности:</p>
        <ul>
            <li>Брендинг компании АиС, формирование положительного имиджа компании.</li>
            <li>Разработка и заказ новых брендов, расширение линеек продукции</li>
            <li>Разработка и проведение рекламных компаний</li>
        </ul>
        <p>В результате работы в компании разработано и произведен ребрендинг более 30 товарных единиц продукции. Компания АиС до моего прихода занимала нишу самого дешевого сегмента, продавая его на Юге республики с небольшой долей.
            По результатам проведенной работы Компания АиС расширила ассортимент и отвоевала 12% рынка среднего сегмента водки, увеличила с 10-12%  до 17-20% доли рынка дешевого сегмента на Юге республики.
        </p>

<b>2011г Руководитель торгового дома компании АиС в городе Бишкек.</b>
        <p>Основные обязанности:</p>
        <ul>
            <li>Организация с нуля торгового дома в г. Бишкек</li>
            <li>Управление персоналом</li>
            <li>Маркетинг и Брендинг производимой продукции</li>
            <li>Организация учета и отчетности перед учредителями.</li>
        </ul>
        <p>Торговый дом запущен, работает по настоящее время.</p>

        <b>2012-2015 Директор компании “Рейнгард”</b>
        <p>Профиль компании маркетинг, реклама, электронная коммерция.</p>
<p>Издательство журнала “Спиртные Напитки”.</p>
        <p>Подрядные работы ЗАО “Халык Банк Кыргызстан” - Делали все что связно с рекламой  от визитки до роликов и наружной рекламы, годовые отчеты банка.</p>
        <p>Разработка сайтов, систем автоматизации.</p>
        <p>Разработка системы обмена между 1с и сайтом, разработка сайта для компании “Hi-tech”.</p>
        <p>Разработка и внедрение Системы учета заказов  курьерской службы “Ковер-Самолет”.</p>
        <p>Разработка систем учета розничной торговли для мелкооптовых магазинов и небольших торговых сетей.</p>

<b>2012 Руководитель проекта “Компот” от компании Акнет </b>
        <p>Компот это электронный магазин товаров широкого потребления, за 3 месяца работы удалось запустить с нуля магазин, организовать работу с поставщиками продукции, внести весь ассортимент товаров на сайт. Разработать, организовать и провести рекламную компанию. Через новый электронный магазин (организован за 2 недели до нового года) в предновогодний период удалось продать 2,5 тоны мандаринов, и пиротехнику на сумму около полумиллиона сомов.</p>

    <b>2012. Программист компании Достек Групп.</b>
        <p>Основные обязанности:</p>
        <ul>
            <li>Разработка фронтенда системы СОЧИ (см ниже)</li>
        </ul>

        <b>2013. Руководитель проекта “СОЧИ” компании Достек Групп</b>
        <p>СОЧИ- Система Бухгалтерской и финансовой отчетности через интернет
            (система успешно развита и работает по сегодняшний день)
        </p>
        <p>Основные обязанности:</p>
        <ul>
            <li>Организация разработки системы</li>
            <li>Организация продвижения и продаж Электронно-цифровых подписей используемых в системе отчетности (СОЧИ)</li>
            <li>Организация работы по обеспечению безотказности работы системы</li>
            <li>Организация работы по обеспечению информационной безопасности системы</li>
            <li>Организация маркетинговых исследований.</li>
            <li>Организация взаимодействия с государственными органами для внедрения электронно-цифровых подписей</li>
            <li>Организация разработки и внедрения систем использования электронно-цифровых подписей в электронных документооборотах государственных органов.</li>
            <li>Организация и брендинг компании Достек групп на рынке Кыргызстана.</li>
            <li>Организация смежных услуг способствующих продвижению электронно цифровой подписи</li>

        </ul>

        <b>2013-2014 Инженер программист ЗАО “Верхне-Нарынские гидроэлектростанции”.</b>
        <p>Основные обязанности:</p>
        <ul>
            <li>Организация IT инфраструктуры ЗАО “ВНГЭС”</li>
            <li>Составление планов закупок ТМЗ для IT инфраструктуры.</li>
            <li>Закупка и внедрение оборудования IT инфраструктуры</li>
            <li>Внедрение электронного документооборота в ЗАО</li>
            <li>Развитие и поддержка сайта “ЗАО Верхне-Нарынские гидроэлетростанции”</li>
        </ul>

        <b>2014-2015. Специалист по закупкам 1 категории ЗАО Верхне-Нарынские гидроэлектростанции.</b>
        <p>Основные обязанности:</p>
        <ul>
            <li>Организация и проведение тендерных  закупок по годовому плану</li>
            <li>Подготовка отчетности о проведенной работе.</li>
            <li>Организация и ведение договорных мероприятий, курирование договоров по общехозяйственному профилю.</li>
        </ul>

        <b>2015 (сентябрь)</b> - по настоящее время фрилансер

        <br>

        <p>Другая информация:</p>
        <ul>
            <li>Проектный менеджмент, sturt up</li>
            <li>Маркетинг, реклама</li>
            <li>Продажи</li>
            <li>Стратегический менеджмент</li>
            <li>Управление командой (до 50 человек)</li>
            <li>Бизнес планирование</li>
        </ul>

        <p>
            Профессиональные навыки:
        </p>
        <p>Опытный пользователь OS Windows, OS Linux, MS Office, Adobe photoshop, Adobe illustrator, 1-С Бухгалтерия, Internet, Программирование на C#, PHP, CSS, HTML, 1с.
            Symfony2.7,  Sass/Scss, Jade, Gulp.js, Grunt, Compass, Botstrap3, Bootstrap4, Style.
            Администрирование серверов на Unix системах.
            Юридический аудит, Финансовые показатели и коэфицианты, Бухгалтерский учет.
        </p>

        <p>Знание языков:</p>
        <ul>
            <li>Русский родной</li>
            <li>Английский технический.</li>
        </ul>

        <p>Хобби:  Автоматизация окружающего пространства, робототехника, программирование на PHP, С# , Медицина - со стороны фармакологии, бионики, кибернетики. Live-hacking.</p>

        <p>Личные характеристики: коммуникабельный, с аналитическими способностями,
            общительный, творческий.
        </p>

    </div>
</div>