<div class="container ">
    <div class="row">
        <div class="col-xs-12 col-md-6 m-t-2">
            <img class="img-fluid img-thumbnail " src="img/im.png" alt="Это я">
        </div>
        <div class="col-xs-12 col-md-6 m-t-2">
            <h2>Привет вы попали на мою персональную страницу</h2>

            <p>Здесь вы сможете найти всю информацию обо мне.</p>

            <p>
                Раз уж вы это читаете, наверняка это я вам дал эту ссылочку,
                и вы хотите узнать обо мне поподробнее, для осуществления задуманного
                покликайте по ссылкам в верхней в менюшке. По скольку я не дизайнер, здесь вы не найдете
                каких то больших красивых изысков, да и вы здесь не за этим. И умные тексты я пока не пишу,
                так как занимаюсь кое чем другим!
            </p>

            <p>
                Обратите внимание как сделана эта страница (а точнее говоря это одностраничный сайт).
                Подробнее о том как тут все сделано читайте на вкладке <a href="#/techno">технологии.</a>
            </p>

            <p>
                Если вы любитель почитать события от "ноевого потопа" то вам нужно глянуть на вкладку <a
                    href="#/history">история.</a>
            </p>

            <p>
                В разделе<a href="#/skill">"Навыки"</a>, Вы можете лицезреть некоторую часть навыков, которыми я владею,
                и обычно продаю или меняю
                на чтонибуть интересное.
            </p>

            <p>
                Вкладки <a href="#/portfolio">Портфолио</a> и <a href="#/contact">Контакты</a>
                говорят сами за себя и соответсвуют названиям.
            </p>

            <h5 class="pull-xs-right">
                <i>
                  Приятно познакомиться, с уважением Евгений.
                </i>
            </h5>


        </div>


    </div>
</div>