<div class="container">
    <div class="row m-y-2">
        <p>
            Я никогда ранее не собирал портфолио, и не придавал этому значение,
            по этой причине я не могу вам показать 5 лет своей работы. Здесь будут показаны последние
            самые интересные проекты выполненные мной, я не буду показывать простые сайты на популярных
            системах управления контентом, их всех не упомнить примерные цифры такие:
            Dle - около 20 сайтов, Opencart - 10-15 магазинов, Woordpress - 35-40 сайтов.
        </p>

        <b>Последняя работа</b>

        <img width="100%" src="img/ipricer.png" alt="ipricer">

        <br>
        
        <p>
            Проект Ipricer.ru - Система консолидированного управления прайс-листами, предназначена для сборки, аналитики
            прайс-листов автозапчастей. Распространяется свободна и может быть интегрирована по средствам Web Api в любую другую
            систему например магазин автозапчастей.
        </p>

        <p>
            При написании системы использовались следующие технологии со стороны фронтенда:
            Героический фреймворк ангуляр 2,0 -RC-6, за время проекта мигирировали до 2.4.1, система полностью готова к
            миграции на ангуляр 4,0. Сборка основана на system.js, npm + gulp. Использованы библиотеки: d3 ( графики и чарты),
            lodash ( без него никуда )), ng2-dnd (драгать и дропать во все стороны), primeng ( библиотека компонентов на angular 2+
            gulp-jsdoc3 ( построена документация проекта), gulp-rigger ( для конкотинации скриптов), jasmine и karma ( для тестирования).
        </p>
        <p> Верстка на основе bootstrap v4.0.0-alpha.5,
            использованы material-design-icon ("mdi": "1.7.22"), bower, compass ( фреймворк для sass), шрифты семейства openSans
        </p>

        <p>
            Так как на момент запуска angular-cli был совсем сырой и официальная документация рекомендоваоа system.js на нем
            был запущен проект. Но мне не хватало консольных возможностей angular-cli, в результате были написаны bush скрипты,
            заменяюшие cli ( они могут генерировать компоненты в нужном месте соблюдая иерархию) а также могут генерировать
            сразу бандлы ( состоящие из комопнентов создания, изменения и отображения списка, сервиса, конфигурационного файла,
            и файла документации)
        </p>

        <p>
            Система реализована как REST, использованы патерны проектирования одиночка, фабричный метод, билдер. Компоненты, зависимы
            между собой через dependensy injection в конструторе, свойства и по средствам методов. Архитектура прямо скажем удалась не очень,
            нужно делать хороший рефакторинг  но обраружить проблему это на 50% решить. Используется оргомное количество ивентов.
            Возможности ангуляр 2,4 использованы на 90% ( 10% это валидация форм средствами ангуляра - не использовалось из за большого количества
            вариантов и дополнительных функций).
            Тайп-скрипт стал роднее и ближе чем js, вообще сомневаюсь что можно писать по другому. Ангуляр дает очень приятные инструменты для разделения
            кода, изоляция компонентов в плане css дает возможность многократноиспользовать код, реализовать все прелести ООП и реализовать полноценный MVC функционал.
            Все что написано со стороны фронтенда, написано мной. (43 бандла это примерно 1300 файлов)
        </p>


       <p>
           Как выглядела система можно посмотреть вот в этом видео - <a href=" https://youtu.be/W8mXZ65_F-w"> посмотреть</a>
       </p>
        <p>
            на фоне играет произведение Mendelssohn Violin Concerto E Minor OP.64( приятного просмотра )
        </p>

        <br>
        <p>
            <b>Собственный проект в работе</b> ( в свободное от работы время )).
            Проект Zorg - система автоматизации, работы станций технического абслуживания. Система реализована частично,
            В основе E-commerce решение от Sylyus, дописан блог, дописан бандл управления организацией систем автомобиля,
            реализованы модели управления диагностическими листами. Переопределены несколько компонентов sylius в части управления пользователями,
            навигационной системы и. др.
            <img width="100%" src="img/zorg.png" alt="zorg">
        </p>

        <p>
            Система реализована на основе Symfony 3.2, Syliyus, jquery, bootstrap 4 альфа 5, Gulp, Bower, Compass, sass.
        </p>


        <br>
        <p>
            <b>Реинкорнация проекта Ковер-самолет</b>
            Первая версия ковра-самолета была на php 5,3 + jquery ( смотри ниже). Новая версия использует Symfony 3.2 в качестве
            api  сервера, php 7. Аngular 2.4, на оснвое angular-CLI на фронте, Bootstrap, sass, Compass, Gulp, Bower, npm.
            Система на этапе разработки уже может принимать заказы, регистрирвоать пользователей и клиентов, выводит список заказов,
            Имеет более приятный продуманный интерфейс.
        </p>

        <br> <br>

       <p>
           <b>Дела давно минувших дней (6-8 мес +):</b>
       </p>

        <img width="100%" src="img/wj.png" alt="wj">

        <br>
        <br>
        <ul class="list-numeric">
            <li>Написание и верстка интерфейса управления и мониторинга системы для контент менеджеров, крупнейшего
                интернет портала часов www.watchj.com
            </li>
            <li>Верстка, правка багов, привязка сайта к битрикс http://wcl.su/</li>
            <li>Вертска правка багов написание js скриптов для htttp://wachj.com (сделано на битрикс)</li>
            <li>Правка, верска, поддержка сайта http://lotosfinance.ru/ (сделано на битрикс)</li>
            <li>Правка, верстка, поддержка сайта http://repeater.ru/ (сделано на битрикс)</li>
            <li>Полная разработка системы управлени спортивной школой (в стеке symfony2, angular, sass, bootstrap4)</li>
        </ul>
        <p>
            <b>Интересные работы в верстке:</b>
        </p>
        <p>
            1. Фреймвок Superlative, почти 4 месяца работы ушло на верстку около 400 компонентов
            (используемые технологи bootstrap4, sass/scss, jquery). В компонентах более 40 менюшек, 50-70 вариантов
            элементов называемых card в bootstrap4, 10-15 футеров, 10-15 jombotron'ов, 10-15 слайдеров в том числе
            слайдеры контента
            15-17 Распадающихся аккордион меню. Огромное количество мелких элементов типа кнопок, элементов социальных
            медия, и так далее.
            Проект большой и выложить его сдесь просто физически не возможно, теперь его можно купить тут за 59 $
            <a href="https://creativemarket.com/flexrs/234376-Grade-UI-Kit">Посмотреть</a>
            и тут скриншоты <a href="https://www.pinterest.com/gordondalos/%D0%BC%D0%BE%D1%8F-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0/">посмотреть</a>
            (проект полностью выполнен мной)
        </p>

        <p>
            выглядело это как то так
            <img width="100%" src="img/superlative.png" alt="superlative">
        </p>

        <p>2. Верстка сайта для проекта СDI. Проект CDI очень интересен профессионализмом подхода заказчика, изначально
            было обговорено
            что проверка и прием работы будет осуществлен после тестирования через https://www.browserstack.com/ По ходу
            верстки было осуществлено
            тестирование верстки на всех доступных операционных системах, и всех доступных браузерах включая ИЕ8. Проект
            был предоставлен
            в качестве дизайна на Sketch, что не очень привычно для нашего глаза, введу отстутвия в моем арсенале
            компьютера под
            управлением операционной системы от яблочников, заказчиком были предоставлены акаунты в системе
            https://avocode.com/
            при помощи которой осуществлялась верстка. Всего было сверстано 6 страниц кросбраузерной, кроссистемной,
            адаптивной верстки.
            <br>

            При разработке использовался bootstrap 3, sass, gulp, npm, git, jquery (проект полностью выполнен мной)
        </p>
        <b>Разработка full stack</b>
        <br>
        <br>
        <b>Sport школа.</b>
        <br>
        <br>
    <p>
        Система управления спортивной школой, предназначена для лиц занимающихся спортом, их родителей (опекунов),
        тренеров, администрации школы
        Система позволяет вести спортивные группы и их посещения, составлять календари занятий, содержит полную
        информацию о спортсменах,
        тренерах, управляющем персонале. Содержит информацию о спортивных площадках. Позволяет вести минимальную
        статистику.
        Имеет доступные к публикации персональные страницы спортсменов. Система имеет разграничения по правам
        пользователей, имеет фундамент для мультиязычного интерфейса.

    </p>


        <br>
        <br>

        <b>Ereport</b>

        <p>
            В марте 2016 года, мне посчастливилось разработать простую систему для сдачи отчетов в электронном виде,
            клиентами компании "Интеко Системс" В данной работе были интересны следующие моменты: Верстка системы осуществлялась на
            основе фреймвока bootstrap4 (ожидает релиза в ближайшем будующем но
            уже доступном на официальном сайте), помимо новейшего инструмента стартовая страница имеет ряд особенностей, по
            первых
            тут используется горизонтальный скролинг, который накладывает свои ньюансы на адаптивность, несмотря на это
            система поддерживатеся всеми современными браузерами в том числе IE (IE10+).

        </p>
        <p>
            Система имеет 3 вида навигации,
            использует интересную svg анимацию на библиотеке lazilinepainter для отображения этапов работы и логотипа.
            При помощи уже привычного jquery осуществляется анимация необходимых элементов и ротация строниц.
            Внутренняя архитектура построена на основании фреймвока symfony 2.7 (doctrina, twig, yml, symfony) Сборка
            бекенда и зависимости при помощи composer. Использованы бандлы "fosuserbandle". Система позволяет скачивать
            заготовки, загружать отчеты.
            ведет разграничение пользователей и их прав. Имеет систему публикации внутренних новостей. Для работы системы
            используются
            javascript editor ckEditor. Сборка фронтенда при помощи gulp, пакетные менеджеры npm, bower. Иконки fontawesome.
            система контроля версий git. (проект полностью выполнен мной)

        </p>



        <p>
            <b>Erp</b>
            Система управления предприятием, написанная мной для своих нужд, расположена по адресу
            http://erp.teamexpert.tk/
            Позволяет вести пользователей, вести учет фрилансеров, вести проекты, вести трекер задач, вести учет
            клиентов.
            Написана на symfony2.7 (twig, dql, yml), bootstrap4, sass, git, npm, gulp,
            composer,emmet,phpstorm,fontawesome, jquery,
            compass, mysql. Много интересных моментов full stack разаработка. (проект полностью выполнен мной)
        </p>

        <p>
            <b>hi-tech.kg</b>
            Этот невзрачный на первый взгляд сайт сделан при помощи магазина на opencart, его необычность состоит в том,
            что он интегрирован с бухгалтерским интерфейсом на 1С 7,7 ручной заточки. Более 15 000 товарных позиций, в
            режиме
            реального времени синхронизируются с сайтом. Позволяя принимать заказы в систему 1с в течении 2-х минут
            после их поступления от
            заказчика. Система постоянно синхронизирует отстатки между 3 разнесенными серверами 1С и сервером сайта.
            Большие данные, хранимые процедуры, Прослойки кода на C++ и С#. Феноменальный код выходящий за рамки
            разрешенного стандартами
            на 1С 7. Все это было в этом проекте (проект выполнен командой из 3-х человек, я отвечал за сервер на
            котором расположен сайт и все что с ним связано)

        </p>

        <p>
            <b>Ковер Самолет: </b>
            Система работы курьерской службы ковер самолет, написна мной на php5.3, jquery 1.17, html3, css2 в 2012
            году, позволяет
            вести базу клиентов ( на данный момент около 10 000 человек). В системе одномоментно безперебойно могут
            работать до
            10 операторов ( больше мы не тестировали). Система позволяет принять заказ, направить по заказу курьера,
            вести заказы,
            заработную плату оператора, курьера, разнообразную статистику по клиенту, учет заведений и товаров
            продаваемых этими заведениями.
        </p>

        <p>
            <b>Корпроративный сайт компании smart-event</b>
            Представляет из себя блог написанный на symfony 2.3 (twig, dql, yml), bootstrap3, css. Система позволяет
            Публиковать новости компании, вести блог, управлять сетью банеров на сайте, имеет очень не ординарнный
            красивый дизайн
            и верстку работающую кросбраузерно, кросплатформенно.
        </p>

        <b>javascript разработка</b>
        <p>
            Данный сайт написан при помощи фреймвока angularjs, и в нем задействованны 60% инструментов используемых в
            моей работе.
            подробно о этом сайте прочитайте в разделе технологии
        </p>

        <b>Вот тест прошел для прикола</b>
        <a href="http://corp.wamba.com/ru/test/"><img border="0" src="http://corp.wamba.com/ru/test/widget/?id=118447"/></a>


    </div>
</div>