<div class="container">
    <div class="row m-y-2">
        <p>
            Я никогда ранее не собирал портфолио, и не придавал этому значение,
        по этой причине я не могу вам показать 5 лет своей работы. Здесь будут показаны последние
            самые интересные проекты выполненные мной, я не буду показывать простые сайты на популярных
            системах управления контентом, их всех не упомнить примерные цифры такие:
            Dle - около 20 сайтов, Opencart - 10-15 магазинов, Woordpress - 35-40 сайтов.
        </p>

        <p>
            <b>Интересные работы в верстке:</b>
        </p>
        <p>
            1. Фреймвок Superlative, почти 4 месяца работы ушло на верстку около 400 компонентов
            (используемые технологи bootstrap4, sass/scss, jquery). В компонентах более 40 менюшек, 50-70 вариантов
            элементов называемых card в bootstrap4, 10-15 футеров, 10-15 jombotron'ов, 10-15 слайдеров в том числе слайдеры контента
            15-17 Распадающихся аккордион меню. Огромное количество мелких элементов типа кнопок, элементов социальных медия, и так далее.
            Проект большой и выложить его сдесь просто физически не возможно, в ближайшем будующем заказчик обещал разместить его в
            app store. Оригинал могу показать у себя на компьютере. (проект полностью выполнен мной)
        </p>

        <p>2. Верстка сайта для проекта СDI. Проект CDI очень интересен профессионализмом подхода заказчика, изначально было обговорено
            что проверка и прием работы будет осуществлен после тестирования через https://www.browserstack.com/ По ходу верстки было осуществлено
            тестирование верстки на всех доступных операционных системах, и всех доступных браузерах включая ИЕ8. Проект был предоставлен
            в качестве дизайна на Sketch, что не очень привычно для нашего глаза, введу отстутвия в моем арсенале компьютера под
            управлением операционной системы от яблочников, заказчиком были предоставлены акаунты в системе https://avocode.com/
            при помощи которой осуществлялась верстка. Всего было сверстано 6 страниц кросбраузерной, кроссистемной, адаптивной верстки.
            <br>

        При разработке использовался bootstrap 3, sass, gulp, npm, git, jquery (проект полностью выполнен мной)
        </p>
        <b>Разработка full stack</b>
        <p>
            <b>Ereport</b>
            В марте 2016 года, мне посчастливилось разработать простую систему для сдачи отчетов в электронном виде, клиентами
            компании "Интеко Системс" (На данный момент система доступна по этому адресу http://beta.ereport.kg/)
            В данной работе были интересны следующие моменты: Верстка системы осуществлялась на основе фреймвока bootstrap4 (ожидает релиза в ближайшем будующем но
            уже доступном на официальном сайте), помимо новейшего инструмента стартовая страница имеет ряд особенностей, по первых
            тут используется горизонтальный скролинг, который накладывает свои ньюансы на адаптивность, несмотря на это
            система поддерживатеся всеми современными браузерами в том числе IE (IE10+). Система имеет 3 вида навигации,
            использует интересную svg анимацию на библиотеке lazilinepainter для отображения этапов работы и логотипа.
            При помощи уже привычного jquery осуществляется анимация необходимых элементов и ротация строниц.
            Внутренняя архитектура построена на основании фреймвока symfony 2.7 (doctrina, twig, yml, symfony) Сборка
            бекенда и зависимости при  помощи composer. Использованы бандлы "fosuserbandle". Система позволяет скачивать заготовки, загружать отчеты.
            ведет разграничение пользователей и их прав. Имеет систему публикации внутренних новостей. Для работы системы используются
            javascript editor ckEditor. Сборка фронтенда при помощи gulp, пакетные менеджеры npm, bower. Иконки fontawesome.
            система контроля версий git. (проект полностью выполнен мной)
        </p>

        <p>
            <b>Erp</b>
            Система управления предприятием, написанная мной для своих нужд, расположена по адресу http://erp.teamexpert.tk/
            Позволяет вести пользователей, вести учет фрилансеров, вести проекты, вести трекер задач, вести учет клиентов.
            Написана на symfony2.7 (twig, dql, yml), bootstrap4, sass, git, npm, gulp, composer,emmet,phpstorm,fontawesome, jquery,
            compass, mysql. Много интересных моментов full stack разаработка. (проект полностью выполнен мной)
        </p>

        <p>
            <b>hi-tech.kg</b>
            Этот невзрачный на первый взгляд сайт сделан при помощи магазина на opencart, его необычность состоит в том,
            что он интегрирован с бухгалтерским интерфейсом на 1С 7,7 ручной заточки. Более 15 000 товарных позиций, в режиме
            реального времени синхронизируются с сайтом. Позволяя принимать заказы в систему 1с в течении 2-х минут после их поступления от
            заказчика. Система постоянно синхронизирует отстатки между 3 разнесенными серверами 1С и сервером сайта.
            Большие данные, хранимые процедуры, Прослойки кода на C++ и С#. Феноменальный код выходящий за рамки разрешенного стандартами
            на 1С 7. Все это было в этом проекте (проект выполнен командой из 3-х человек, я отвечал за сервер на котором расположен сайт и все что с ним связано)

        </p>

        <p>
            <b>Ковер Самолет: </b>
            Система работы курьерской службы ковер самолет, написна мной на php5.3, jquery 1.17, html3, css2 в 2012 году, позволяет
            вести базу клиентов ( на данный момент около 10 000 человек). В системе одномоментно безперебойно могут работать до
            10 операторов ( больше мы не тестировали). Система позволяет принять заказ, направить по заказу курьера, вести заказы,
            заработную плату оператора, курьера, разнообразную статистику по клиенту, учет заведений и товаров продаваемых этими заведениями.
        </p>

        <p>
            <b>Корпроративный сайт компании smart-event</b>
            Представляет из себя блог написанный на symfony 2.3 (twig, dql, yml), bootstrap3, css.  Система позволяет
            Публиковать новости компании, вести блог, управлять сетью банеров на сайте, имеет очень не ординарнный красивый дизайн
            и верстку работающую кросбраузерно, кросплатформенно.
        </p>

        <b>javascript разработка</b>
        <p>
            Данный сайт написан при помощи фреймвока angularjs, и в нем задействованны 60% инструментов используемых в моей работе.
            подробно о этом сайте прочитайте в разделе технологии
        </p>





    </div>
</div>