<div class="container">

    <div class="row m-y-2">
        Фух продходит к концу 2017 год, в этом году было столько всего интересного,
        попробую изложить кратенько на что ушел этот год.
        После окнчания проекта Ipriser описанного ниже, вдохновленный темой с запчастями я
        решил начать проект по автоматизации СТО рабочего названия небыло, но спустя некоторое время
        было придумано название 99sto, куплен домен 99sto.com и с тех пор проект только растет.
        проект так и лежит на домене 99sto.com.
        На тот момент проект состоял из одного сервиса предназначеного для менеджеров, я стартовал его на ангуляр 4
        На данный момент он состоит из следующих частей:

        <ul>
            <li>1. Сервсис для работы менеджеров (ангуляр 4, sass, bootstrap, lodash)</li>
            <li>2. Сервсис для работы мастеров (это приложение заточенное под мобилку на Ionic 3.5)</li>
            <li>3. Сервсис для работы поставщиков (Ангуляр 4)</li>
            <li>4. Сервсис для администрирования работы c Сто и поставщиками при поставке запчастей</li>
            <li>5. Стартовая страничка с поисанием проекта, для прохождения регистрации и осуществлении центрального входа</li>
        </ul>

        <p>
            Сервис потихоньку развивается и я пишу для него код в свободное от работы время, вместе с другом мы наняли
            менеджера и он занимается им на постоянной основе, занимается внедрением сервиса и накидывает хотелок от клиентов
        </p>

        <p>
            На начало года сервис не был на столько большим.
            Особенностью сервиса стало то что он написан на свежайшем ангуляре и у него нет бекенда, он легко масштабируется.
            Все система работает на сервисе фаирбейс от google, хостится там же.Спасибо Гуглу огромное.
        </p>

        <h3>Dater.com</h3>

        <p>
            В апреле 2017 года мне повезло и я попал в интереснейшую команду Dater.com.
            Dater это социальная сеть знакомств, основатель Олег Недерев. Это приятный молодой человек, большой профессионал
            своего дела. Так получилось что мы с Олегом сразу нашли общий язык проект начался очень бурно.
        </p>
        <p>
            Изначально проект планировался на основе Angular 4, Firebase, Meteor. Все бы здорово но метеор был очень сырой
            и мы после месяца мучений решили отказаться от него в пользу Ionic на тот момоент 2.
        </p>
        <p>
            Олег как мне показалось большой перфекционист, он задал высочайшие стандарты кодирования, скажу честно такого
            уровня я раньше не видел, все имело значение и скрупулезное название функций, переменных, всех файлов.
            Мы очень часто делали рефакторинг всего чтобы все было безупречно. Все достигнутые договоренности были закреплены
            и Олег настаивал на их соблюдении, для облегчения работы было внедрен и настроен линтер от команды air-bnb,
            догворились придерживаться код стайла Ангуляра. Для чистоты кода исходили из принципов описанных в книге
            Чистый код Боба Мартина (https://habrahabr.ru/post/189094/)
        </p>

        <p>
            Начался набор команды, Олег по каким то невероятным каналам набрал просто огненную высоко проффесиональную команду.
            Внедрились технологии управления на основе Канбан с недельными спринтами.
        </p>

        <p>
            Вся работа строилась на опыте open-source проектов, мы пересели на гитхаб и это оказалось черезвычайно удобно,
            все документация и история сохранялись очень удобно и лаконично распределена по гитхабу. Поиск трекера тоже менялся
            несколько раз и в результате мы остановились на досках гитхаба (они просто офигенные). Скайп и телеграмм уступили
            место Слаку. Ребята из команды настроили слак интегрировав его с гитхабом, ботами, хенгаутом и все это стало очень
            удобным инструментом.
        </p>

        <p>
            Проект быстро рос, с ним росла и команда, много интересных задач, интенсивность работы бешенная, код и днем и ночью,
            высокое напряжение. И в одно прекрасное утро Олег решил и уволил всю команду, прямо скажем внезапно.
            Да мне было очень тяжело но офигенно интересно, как я понял позже Олег перегорел. Мы созванивались позже и проект
            он востановил с новой командой. Да все это было не очень приятно, но я очень благодарен за полученный опыт.
            Так круто я не работал никогда. За эти 6 месяцев я получил массу новых знаний и понимание как мне кажется самого
            правильного способа построения проекта. Спасибо Олег тебе огромное!
        </p>

        <h3>Миграция</h3>

        <p>
            И вот в одно прекрасное утро я сново стал свободным человеком, что то как и денег особо не заработал, конетелиться
            долго времени не было но я решил отдохнуть недельку поспать, чтобы отпустило. И не успел я ее отдохнуть как уволенный
            вместе со всей командой тимлид позвал меня в дружественную ему компанию на небольшой проект который должен был продлиться
            до декабря 2017 года. Я долго не раздумывая согласился на предложение и работа закипела вновь.
        </p>

        <p>
            На этот раз нам достался очень плохой код, какого то зарубежного заказчика написанный на питоне с каким то шаблонизатором
            и в него кто то догадался запихать ангуляр 1,5. Написао было просто ужасно встречался код замешанный в кучу в одном файле
            и стили и js код и кусочки шаблонизатора. Нам предстояло натянуть на это чудо новый дизайн и сделать рефакторинг.
            За 1,5 месяца мы осилили эту задачу и проект подходил к концу.
        </p>

        <h3>Новый опыт</h3>

        <p>
            В начале Октября поступает предложение от французской компании IRessources, было предложено выполнить тестовое задание,
            нужно было сделать простую книгу рецептов в виде SPA на любых технологиях, я сделал на symfony3 + ангуляр4, этого
            хватило и меня приняли на испытательный срок.
        </p>
        <p>
            Как то сразу сотрудничество не задалось, с первых дней было достаточно тяжело, потому что
            с передовой фронтенда меня кинули в глубокий бекенд. Менеджер руководящий проектами был отличный, она хорошо понимала
            специфику и задачи были выставлены отлично. Проблему составила как ни странно коммуникация с первых дней мне пришлось
            сотрудничать с администратором который видимо достаточно тяжелый человек, складывалось впечатление что он просто держит меня за совсем
            дурака, да и я, честно говоря тупил, при разворачивании новых проектов. Проекты были огромные и там были
            сформированы свои правила работы, огромная куча ньюансов и обилие паролей доступов, куча промежуточных сервисов для разворачивания
            и тестирования мне давались не легко.
        </p>
        <p>
            Конечно не все было понятно сразу и первые запуски были сложны, на вопросы
            почему это не работает прямого ответа от админа я не получил ни разу за время работы,
            при этом намеков про какую то документацию как это делать по человечеки
            небыло а понять как это должно работать с разбегу не получалось потому что код был достаточно сложным и в некоторых местах не логично организован.
            Также по проектам было разбросано достаточно большое количество конфигов без описания, и нужно было не только догадаться о их существовании
            но и понять что там это не правильно сконфигурировано для моей системы, или что в репозитории нет конфига ибо его код
            конфиденциальный. Короче не работает и нужно догадаться что тебе не хватает каких то файлов, да так чтобы они лежали в некоторых директориях.
        </p>

        <p>
            Проекты как я писал очень большие ( на самом деле я за всю свою работу я не встречал таких огромных проектов)
        </p>

        <p>
            Первый проект назывался http://innovadvisor.com. Проект представляет из себя площадку для стартапов, на ней
            по идее инвесторы осуществляют поиск этих самых стартапов. Моя задача была сделать рефакторинг и залить в базу
            информацию оновляющую практически все 21 000 + компаний а также добавить новые компании.
            Трудность задачи при рефакторинге заключалось в том что во первых этот проект полнейший говнокод. Проект основан на
            php фреймфорке slim, который замешан с ангуляром версии 1.4. Проблема в том что видимо проект долго развивался потому что
            в три версии слима разбавленная какими то своими дописанными штуками, при этом как мне было сказано что некоторые части не работают
            оказалось что те части которые не работали были сильно захардкожены внутри проекта что их просто от туда не удалить.
            Файлы фронтенда расположены не структурировано а как вздумается, внутри js файлов и темплейты и стили причем
            стили как обычные так и инлайновые. Куча каких то старых файлов которые почему то просто так лежали внутри проекта.
        </p>
        <p>
            Проект поднят и работает на nginx и на apache одновременно, причем все это смотрит в одну папку и сконфигурировано достаточно сложно,
            с наскоку не разобрать. Разнести фронт и бекенд даже по отдельным папкам без переписывания кода в короткий срок не представлялось
            возможным по причине того что авторизация сделана на cookie которые устанавливаются только для локального сервера, и чтобы сделать отдельно
            нужно переписывать систему авторизации, на что у компании небыло ни средств не времени. В результате погрузившись в проект
            я сделал частичный рефакторинг и мне не дали его закончить сказав что нужно делать более приоритетные задачи.
            То что получилось мне не удалось смержить по причине того что я подзабыл работу с СВН и из за огромного количества конфиликтов
            возникших в результате рефакторинга мне не дали разобрать. Отложили и начали делать импорт данных в базу
        </p>
        <p>
            На старте был предложен эксель который из за обьема открывался через раз. Из него предстояло сделать csv, прочитать его построчно
            и сложить что получилось в базу. Данные получаемые в результате экспорта в csv оказались не валидными, рушилась колоночная структура
            строки были разной длины, промучавшись с файлом удалось его привести к кондиционный csv и началась работа с получившимися полями.
            Данные забиты были как попало и файл очень грязынй, все поля пришлось валидировать удалять символы, нормальизлвать урлы, выдирать домены,
            преобразоввывать строки в числа что оказалось не тривальной задачей введу факта что где то это были цифры, где то это были строки разделенные пробелами
            где-то стояли знаки евро, где то фунтов-стерлингов, где то в начале, где то в конце, где то вместо разделителя точка был поставлены
            разделитель в виде запятой и просто при экспорте из экселя терялась точность числа на два нуля.
            Чуть позже оказалось что в таблице лежат не одна таблица  а несколько причем вместо ключей были заданы значения включая некторые в произвольной форме, в общем
            пришлось искать айдишники сравнивать это дело и заменять на лету чтобы записать. Повторный импорт не должен был создавать новых записей
            причем первичные ключи были не везде, в результате я искал организацию по id, регистрационному номеру, потом по домену, потом по названию
            Мой скрипт нашел 98% компаний и обновил все записи, удалил дубликаты из базы.
        </p>
        <p>
            Также забавным моментом был факт того что никто не знал где и какие поля чему соттветсвуют и в какой таблице их нужно искать и заменять.
            В общем задача творческая. Залив это дело мне дали еще 2 файла в которых оказалось не по 43 поля а по 51 полю и нужно чтобы скрипт
            работал в обоих случаях. Сказано и сделано времени ушло примерно одна неделя.
        </p>

        <p>
            Только я закончил с импортом, было принято решение перекинуть меня на другой проект, проект назыался myprea,
            Проект представляет из себя платформу для интернет университетов, этот эсполин оказался еще больше чем IRessources.
            Если в кратце в нем есть компании которые преставлены одим брендом, у этого бренда есть учителя ученики. Образовательная программа
            экзамены, тесты, он лайн вебинары, куча документов принадлежащих разным группам.
            Посмотреть можно здесь https://www.myprepa.fr/
        </p>
        <p>
            В этом проекте все достаточно хорошо организовано, хотя и были некоторые затруднения с разворачиванием введу
            того что в проекте есть апач, nginx и поисковый сервер на solr.  Существует две версии этого проекта это текущая
            сыылка на который приведена ( он написан на симфони 2,8 и первом ангуляре) Вторая версия проекта в разработке
            называется live Class ( О проекте читайте ниже).
        </p>

        <p>
            В проекте myprepа мне предстояло сделать срочный импорт данных о студентах, для формировании нового учебного года.
            Введу того что в проекте уже существовал частично механизм выполнявший схожую функцию я его немного дописал и сделал импорт.
            На разбор и понимания проекта, его разворот и написание скрипа импорта также ушла рабочая неделя. Так как проект сразу шел в прод
            ошибок допускать было не допустимо. С поставленой задачей я справился на 100%.
        </p>

        <p>
            Только закончив с импортом не успев вздохнуть мне выдали новый проект называется Daenerys. Daenerys представляет из тебя
            трекер задач на подобие редмайна, но более замороченая версия. Смысл в том что заказчик управляя проектами внутри компании
            может привлекать к работе фрилансеров. Древовидные сруктуры задач, проектов каталогов. На этот раз мне нужно было сделать
            кнопочку при клике на которую мне нужно было выгрузить из базы актуальную информацию о фирилансерах их контакты,
            последние проекты над которыми они работали. Конечно было пару нежданных нюансов. До этого момента я никогда не работал
            с подобным стеком. Проект написан на angular 1.5, nodejs, mongо. Под словомами никогда не работал я имею введу что я не работал
            я слышал что технология есть но как она работает я не знаю. Этот факт не смутил менеждеров дававших мне задачу.
        </p>
        <p>
            За день я освоил монго и работу с библиотекой монгус, скурил мануал по nodejs. На следующий день навоял конопульку,
            понял как устроен новый проект на первом ангуляре, дописал в него в правильное место новый гет запрос, поймал его на беке
            добавил в контроллер несколько функций и начал собирать данные,  и тут меня ждал второй сюрприз из существующей команды
            ни один человек не знал какие поля мне нужны, будем говорить прямо они названы не очевидно и из за того что это монго, была сделана
            хорошая денормализация базы. Выяснив с горем пополам какие поля мне нужны я смог написать на монгусе достаточно каверзные запросы
            и вытащить данные. Предстояло вернуть пользователю данные в виде exel. Как это сделать на nodejs мне предстояло только узнать.
            Промучавшись с кривыми библиотеками и посовещавшись с менеджерами и заказчиком было решено вернуть все таки csv, хотя решение было близко,
            но экономия времени взяла свое. Итого за 2 дня написал экспорт из неизветной до данного момента технологии из неизвестной базы.
            Считаю что отделался легко.
        </p>

        <p>
            Наконец то кончились импорты и мне опять подкинули проект, назывался LiveClass, это новая генерация проекта myprepa.
            Тут все достаточно свежо и красиво, как ни странно меня опять кидают не на фронтенд а на разработку api.
            В проекте ангуляр 4 + симфони 2,8. Тут мне удалось решить несколько задач потребность в которых возникала у человека работающего на фронтенде.
            В принципе не смотря на то что проект свежий, по причине красивой документации к проекту был приделанв несколько бандлов, реализован
            сандбокс для тестирования запросов.
        </p>
        <p>
            Но как это не обидно вся структура задаваемаея фреймворком была скомкана, роуты
            были вынесены в контроллеры. Что напроч сломало всю навигацию по проекту, и по моему мнению ее сможет поддерживать теперь только человек написавший все это дело.
            Методы обрабатывающие это дело на мой взгляд выглядели ужасно и занимали до 400 строк кода в отдельных случаях.
            Будем говорить прямо мне это показалось не читаемым и я сделал на паре функций рефакторинг и разбил функции на более мелкие, за что получил
            люлей от ведущего разработчика, на его взгляд функция в такое количество строк вполне себе читаема.
            Также часть кода была перенесена из старой апи, какие то файлы подключены какие то нет, другого слова как говнокод подобрать сложно.
        </p>

        <p>
            Не зная как устроен проект я тоже допустил пару хороших косяков, хотя если подумать можно было бы этого избежать,
            мне воткнули за то что я сделал полный проход по циклу в то время когда результат уже известен в середине цикла.
            И еще я сравнивал массивы как строки, конечно я это дело переписал но это было замечено в коммите и сделали атата.
            Я абсолютно согласен с этими претензиями, но в той агонии в которой я работал мне не показалось это смертным грехом.
        </p>

        <p>
            Последняя вещь которую я начал делать в этой компании. Задача примерно такая мне нужно было поднять solr, сконфигурировать
            его так чтобы он искал в базе документы по названию, тегам и еще 2-м десяткам параметров, фильтровал это дело по
            принадлежности к той или иной организации и человеку (речь идет о улучшении проекта liveClass), после того как он проиндексировал базу данных
            он должен был проиндексировать разные файлы лежащие в папочке на сервере, судя по предыдущей версии это около 2 000 000 документов
            разных форматов - pdf, txt, word, картинки а также тестов уроков и экзаминов которая система делает в процессе работы.
            Поиск должен был работать по любому ключевому слову в этих документах и ранжироваться по целостности фразы поиска, и еще нескольких параметров,
            также в перспективе нужно было проверять выдачу на наличие прав.
        </p>
        <p>
            На момент когда мне дали задачу я знал о solr только то что он есть и что это какая то библиотека на javа под которую
            сделали обертки и запихали это дело на сервер и что к нему можно ходить по http и это все. О чем я сообщил менеджеру.
        </p>

        <p>
            В компании никто не мог сделать это на этот момент и посоветоваться было не с кем.
            3 дня у меня ушло на чтение документации по разворачиванию и конфигурированию. На 3 день я развернул solr
            на вертуальной машине и немного настроил его в результате чего он уже понимал где лежат файлы и индексировал данные мной ему для старта
            4 гб  разных мелких файлов и уже что то искалось по ключевым словам. На четвертый день я начал дружить солр с базой.
            И в этот день у меня состоялся разговор с руководителем организации, который сообщил мне что я не прошел испытательный срок в
            связи с тем что я слишком долго вожусь. На этом работа прекратилась.
        </p>

        <h3>Печальный опыт</h3>

        <p>
            В общем счете я проработал в IRessources почти 1,5 месяца  - зарплату которую мне должны были заплотить до 15 числа месяца идущего
            за рабочим я не получил и в течении 44 дней ( на сегодня ). Возникает ощущение что мнея нагрели, хотя народ не скрывается.
            Также особенно не понравилось в работе в этой компании, это факт того что собрудники не общаются между собой или общаются не показывая
            себя в камеру. За 1,5 месяца я увидел только своего менеджера и руководителя один раз при этом мы знакомились и я попросил их включить
            камеры, все остальное время ни один сотрудник не включил камеру! Сделал вывод - Кончилось и слава богу.
        </p>

        <h3>Что помогло мне выжить</h3>

        <p>
           Как говорится на бога надейся а сам не плошай. Спасибо моей терпеливой жене!. Которая как то сразу поняла что происходит
            и поддержала в трудную минуту. Видя как идет и понимая что есть вероятность задержки по зп, было принято решение взять еще и партайм.
        </p>

        <h3>Приятный партайм</h3>

        <p>
            Как не странно партайм нашелся дома, и сразу пошел хорошо. Нашелся проект Bookit.kg Данная компания лидер рынка Кыргызстана
        по продаже авиабилетов. Начал я работу над проектом мобильной версии которая подходила к завершению. Проект написан на
            ангуляр 4 на фронте и на php на беке. Приятная дружелюбная команда, работать нужно было только на фронте. Навалились
            и довели проект до кондиции. Введу этого факта стал отставать фронт десктопа, и меня переключили на него.
        </p>
        <p>
            Десктоп написан на ангуляр 1,5, за месяц мне удалось уделить проекту 80 часов. К моему приходу уже был один человек в другом часовом
            поясе и работать с ним было достаточно сложно введу этого проект полностью передали мне. Тут были ньюансы,
            проект достаточно большой и чтобы его поддерживать кто то очень умный запихнул его в vagrant. Заказчик вынужден был терпеть это дело в течении года
            чтобы не останавливать работу. И первой моей задачей было выдернуть его из vagrant, что до меня пробывали сделать 2 разработчика без успешно.
            Я удалил из него webpack, вытащил файлы из vagrant и сделал сборку при помощи галпа на основе вот этого проекта
            https://habrahabr.ru/post/250569/ разумеется я его дописал. Также введу перехода на галп пришлось переделать импорт вендоров,
            переделать систему мультиязычности и попарвить несколько тысяч путей. Но результат получился офигительный, вместо невыполняемой инстркукции
            по запуску проекта на vagrant, которую мне так и не удалось запустить у себя локально, теперь нужно установить npm пакеты, пакеты bower
            и написать npm start. На данный момент функционал десктопа вновь выровнялся по функционалу с мобильной версией.
        </p>

    </div>

    <div class="row m-y-2">
        <p>
            Я никогда ранее не собирал портфолио, и не придавал этому значение,
            по этой причине я не могу вам показать 5 лет своей работы. Здесь будут показаны последние
            самые интересные проекты выполненные мной, я не буду показывать простые сайты на популярных
            системах управления контентом, их всех не упомнить примерные цифры такие:
            Dle - около 20 сайтов, Opencart - 10-15 магазинов, Woordpress - 35-40 сайтов.
        </p>

        <b>Интересная работа</b>
        <img width="100%" src="img/ipricer.png" alt="ipricer">
        <br>
        
        <p>
            Проект Ipricer.ru - Система консолидированного управления прайс-листами, предназначена для сборки, аналитики
            прайс-листов автозапчастей. Распространяется свободна и может быть интегрирована по средствам Web Api в любую другую
            систему например магазин автозапчастей.
        </p>

        <p>
            При написании системы использовались следующие технологии со стороны фронтенда:
            Героический фреймворк ангуляр 2,0 -RC-6, за время проекта мигирировали до 2.4.1, система полностью готова к
            миграции на ангуляр 4,0. Сборка основана на system.js, npm + gulp. Использованы библиотеки: d3 ( графики и чарты),
            lodash ( без него никуда )), ng2-dnd (драгать и дропать во все стороны), primeng ( библиотека компонентов на angular 2+
            gulp-jsdoc3 ( построена документация проекта), gulp-rigger ( для конкотинации скриптов), jasmine и karma ( для тестирования).
        </p>
        <p> Верстка на основе bootstrap v4.0.0-alpha.5,
            использованы material-design-icon ("mdi": "1.7.22"), bower, compass ( фреймворк для sass), шрифты семейства openSans
        </p>

        <p>
            Так как на момент запуска angular-cli был совсем сырой и официальная документация рекомендоваоа system.js на нем
            был запущен проект. Но мне не хватало консольных возможностей angular-cli, в результате были написаны bush скрипты,
            заменяюшие cli ( они могут генерировать компоненты в нужном месте соблюдая иерархию) а также могут генерировать
            сразу бандлы ( состоящие из комопнентов создания, изменения и отображения списка, сервиса, конфигурационного файла,
            и файла документации)
        </p>

        <p>
            Система реализована как REST, использованы патерны проектирования одиночка, фабричный метод, билдер. Компоненты, зависимы
            между собой через dependensy injection в конструторе, свойства и по средствам методов. Архитектура прямо скажем удалась не очень,
            нужно делать хороший рефакторинг  но обраружить проблему это на 50% решить. Используется оргомное количество ивентов.
            Возможности ангуляр 2,4 использованы на 90% ( 10% это валидация форм средствами ангуляра - не использовалось из за большого количества
            вариантов и дополнительных функций).
            Тайп-скрипт стал роднее и ближе чем js, вообще сомневаюсь что можно писать по другому. Ангуляр дает очень приятные инструменты для разделения
            кода, изоляция компонентов в плане css дает возможность многократноиспользовать код, реализовать все прелести ООП и реализовать полноценный MVC функционал.
            Все что написано со стороны фронтенда, написано мной. (43 бандла это примерно 1300 файлов)
        </p>


       <p>
           Как выглядела система можно посмотреть вот в этом видео - <a href=" https://youtu.be/W8mXZ65_F-w"> посмотреть</a>
       </p>
        <p>
            на фоне играет произведение Mendelssohn Violin Concerto E Minor OP.64( приятного просмотра )
        </p>

        <p>
            По соглашению с заказчиком, производился мониторинг работы на моем компьютере,
            на картинке типичный график работы за месяц, из графика понятно что на рабочем месте при 8 часовом рабочем дне
            мне в среднем удавалось проработать 7 часов 50 минут продуктивного времени ( 90% и более) ( Продуктивное время это работа
            в редакторе кода а также работа в браузере на доменах проекта, также работа с трекером задач и битбакетом).
            Не продуктивным считалось время просмотра ютуба, хабра, stackowerflow, Нейтральным сичталась гуглежка, работа в консоли, работа с filezila и другими
            локальными утилитами.

        </p>
        <img width="100%" src="img/time.png" alt="skill">

        <br>

        <p>
            Дабы посмотреть как оно работать на angular Cli и на только что вышедшем ангуляре 4, решил попробывать навоять
            библиотеку компонентов, назвал ее Oblivion. Начало положено, исходный код на гитхабе
            вот тут https://github.com/Gordondalos/oblivion
        </p>
        <p>вот так сейчас выглядит Oblivion</p>
        <img width="100%" src="img/oblivion.png" alt="oblivion">

        <br>
        <p>
            там правда еще даже описания нет, и ридми я еще не написал, но накидал уже пару компонентов, и опробывал
            их вот в этом  тестовом проекте https://github.com/Gordondalos/testOblivion,
            проект занял 34 минуты, как я его создавал можно посмотреть на ютубе вот по этой ссылке
            https://www.youtube.com/watch?v=MXCJzW-Bah4
        </p>
        <p>вот скриншот SPA с роутингом с нуля получившиеся за 34 минуты</p>
        <img width="100%" src="img/oblivionTest.png" alt="oblivion">
        <br>
        <p>
            <b>Собственный проект в работе</b> ( в свободное от работы время )).
            Проект Zorg - система автоматизации, работы станций технического абслуживания. Система реализована частично,
            В основе E-commerce решение от Sylius, дописан блог, дописан бандл управления организацией систем автомобиля,
            реализованы модели управления диагностическими листами. Переопределены несколько компонентов sylius в части управления пользователями,
            навигационной системы и. др.
            <br>
            <img width="100%" src="img/zorg.png" alt="zorg">
        </p>

        <p>
            Система реализована на основе Symfony 3.2, Syliyus, jquery, bootstrap 4 альфа 5, Gulp, Bower, Compass, sass.
        </p>


        <br>
        <p>
            <b>Реинкорнация проекта Ковер-самолет</b>
            Первая версия ковра-самолета была на php 5,3 + jquery ( смотри ниже). Новая версия использует Symfony 3.2 в качестве
            api  сервера, php 7. Аngular 2.4, на оснвое angular-CLI на фронте, Bootstrap, sass, Compass, Gulp, Bower, npm.
            Система на этапе разработки уже может принимать заказы, регистрирвоать пользователей и клиентов, выводит список заказов,
            Имеет более приятный продуманный интерфейс.
        </p>

        <br> <br>

       <p>
           <b>Дела давно минувших дней (6-8 мес +):</b>
       </p>

        <img width="100%" src="img/wj.png" alt="wj">

        <br>
        <br>
        <ul class="list-numeric">
            <li>Написание и верстка интерфейса управления и мониторинга системы для контент менеджеров, крупнейшего
                интернет портала часов www.watchj.com
            </li>
            <li>Верстка, правка багов, привязка сайта к битрикс http://wcl.su/</li>
            <li>Вертска правка багов написание js скриптов для htttp://wachj.com (сделано на битрикс)</li>
            <li>Правка, верска, поддержка сайта http://lotosfinance.ru/ (сделано на битрикс)</li>
            <li>Правка, верстка, поддержка сайта http://repeater.ru/ (сделано на битрикс)</li>
            <li>Полная разработка системы управлени спортивной школой (в стеке symfony2, angular, sass, bootstrap4)</li>
        </ul>
        <p>
            <b>Интересные работы в верстке:</b>
        </p>
        <p>
            1. Фреймвок Superlative, почти 4 месяца работы ушло на верстку около 400 компонентов
            (используемые технологи bootstrap4, sass/scss, jquery). В компонентах более 40 менюшек, 50-70 вариантов
            элементов называемых card в bootstrap4, 10-15 футеров, 10-15 jombotron'ов, 10-15 слайдеров в том числе
            слайдеры контента
            15-17 Распадающихся аккордион меню. Огромное количество мелких элементов типа кнопок, элементов социальных
            медия, и так далее.
            Проект большой и выложить его сдесь просто физически не возможно, теперь его можно купить тут за 59 $
            <a href="https://creativemarket.com/flexrs/234376-Grade-UI-Kit">Посмотреть</a>
            и тут скриншоты <a href="https://www.pinterest.com/gordondalos/%D0%BC%D0%BE%D1%8F-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0/">посмотреть</a>
            (проект полностью выполнен мной)
        </p>

        <p>
            выглядело это как то так
            <img width="100%" src="img/superlative.png" alt="superlative">
        </p>

        <p>2. Верстка сайта для проекта СDI. Проект CDI очень интересен профессионализмом подхода заказчика, изначально
            было обговорено
            что проверка и прием работы будет осуществлен после тестирования через https://www.browserstack.com/ По ходу
            верстки было осуществлено
            тестирование верстки на всех доступных операционных системах, и всех доступных браузерах включая ИЕ8. Проект
            был предоставлен
            в качестве дизайна на Sketch, что не очень привычно для нашего глаза, введу отстутвия в моем арсенале
            компьютера под
            управлением операционной системы от яблочников, заказчиком были предоставлены акаунты в системе
            https://avocode.com/
            при помощи которой осуществлялась верстка. Всего было сверстано 6 страниц кросбраузерной, кроссистемной,
            адаптивной верстки.
            <br>

            При разработке использовался bootstrap 3, sass, gulp, npm, git, jquery (проект полностью выполнен мной)
        </p>
        <b>Разработка full stack</b>
        <br>
        <br>
        <b>Sport школа.</b>
        <br>
        <br>
    <p>
        Система управления спортивной школой, предназначена для лиц занимающихся спортом, их родителей (опекунов),
        тренеров, администрации школы
        Система позволяет вести спортивные группы и их посещения, составлять календари занятий, содержит полную
        информацию о спортсменах,
        тренерах, управляющем персонале. Содержит информацию о спортивных площадках. Позволяет вести минимальную
        статистику.
        Имеет доступные к публикации персональные страницы спортсменов. Система имеет разграничения по правам
        пользователей, имеет фундамент для мультиязычного интерфейса.

    </p>


        <br>
        <br>

        <b>Ereport</b>

        <p>
            В марте 2016 года, мне посчастливилось разработать простую систему для сдачи отчетов в электронном виде,
            клиентами компании "Интеко Системс" В данной работе были интересны следующие моменты: Верстка системы осуществлялась на
            основе фреймвока bootstrap4 (ожидает релиза в ближайшем будующем но
            уже доступном на официальном сайте), помимо новейшего инструмента стартовая страница имеет ряд особенностей, по
            первых
            тут используется горизонтальный скролинг, который накладывает свои ньюансы на адаптивность, несмотря на это
            система поддерживатеся всеми современными браузерами в том числе IE (IE10+).

        </p>
        <p>
            Система имеет 3 вида навигации,
            использует интересную svg анимацию на библиотеке lazilinepainter для отображения этапов работы и логотипа.
            При помощи уже привычного jquery осуществляется анимация необходимых элементов и ротация строниц.
            Внутренняя архитектура построена на основании фреймвока symfony 2.7 (doctrina, twig, yml, symfony) Сборка
            бекенда и зависимости при помощи composer. Использованы бандлы "fosuserbandle". Система позволяет скачивать
            заготовки, загружать отчеты.
            ведет разграничение пользователей и их прав. Имеет систему публикации внутренних новостей. Для работы системы
            используются
            javascript editor ckEditor. Сборка фронтенда при помощи gulp, пакетные менеджеры npm, bower. Иконки fontawesome.
            система контроля версий git. (проект полностью выполнен мной)

        </p>



        <p>
            <b>Erp</b>
            Система управления предприятием, написанная мной для своих нужд, расположена по адресу
            http://erp.teamexpert.tk/
            Позволяет вести пользователей, вести учет фрилансеров, вести проекты, вести трекер задач, вести учет
            клиентов.
            Написана на symfony2.7 (twig, dql, yml), bootstrap4, sass, git, npm, gulp,
            composer,emmet,phpstorm,fontawesome, jquery,
            compass, mysql. Много интересных моментов full stack разаработка. (проект полностью выполнен мной)
        </p>

        <p>
            <b>hi-tech.kg</b>
            Этот невзрачный на первый взгляд сайт сделан при помощи магазина на opencart, его необычность состоит в том,
            что он интегрирован с бухгалтерским интерфейсом на 1С 7,7 ручной заточки. Более 15 000 товарных позиций, в
            режиме
            реального времени синхронизируются с сайтом. Позволяя принимать заказы в систему 1с в течении 2-х минут
            после их поступления от
            заказчика. Система постоянно синхронизирует отстатки между 3 разнесенными серверами 1С и сервером сайта.
            Большие данные, хранимые процедуры, Прослойки кода на C++ и С#. Феноменальный код выходящий за рамки
            разрешенного стандартами
            на 1С 7. Все это было в этом проекте (проект выполнен командой из 3-х человек, я отвечал за сервер на
            котором расположен сайт и все что с ним связано)

        </p>

        <p>
            <b>Ковер Самолет: </b>
            Система работы курьерской службы ковер самолет, написна мной на php5.3, jquery 1.17, html3, css2 в 2012
            году, позволяет
            вести базу клиентов ( на данный момент около 10 000 человек). В системе одномоментно безперебойно могут
            работать до
            10 операторов ( больше мы не тестировали). Система позволяет принять заказ, направить по заказу курьера,
            вести заказы,
            заработную плату оператора, курьера, разнообразную статистику по клиенту, учет заведений и товаров
            продаваемых этими заведениями.
        </p>

        <p>
            <b>Корпроративный сайт компании smart-event</b>
            Представляет из себя блог написанный на symfony 2.3 (twig, dql, yml), bootstrap3, css. Система позволяет
            Публиковать новости компании, вести блог, управлять сетью банеров на сайте, имеет очень не ординарнный
            красивый дизайн
            и верстку работающую кросбраузерно, кросплатформенно.
        </p>

        <b>javascript разработка</b>
        <p>
            Данный сайт написан при помощи фреймвока angularjs, и в нем задействованны 60% инструментов используемых в
            моей работе.
            подробно о этом сайте прочитайте в разделе технологии
        </p>

        <b>Вот тест прошел для прикола</b>
        <a href="http://corp.wamba.com/ru/test/"><img border="0" src="http://corp.wamba.com/ru/test/widget/?id=118447"/></a>


    </div>
</div>