<div class="container">

	<h2 class="text-xs-center m-y-2">
		Инструменты, библиотеки, фреймвоки, языки программирования используемые мной в ежедневной работе
	</h2>
	<div class="row p-y-2">
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/simf.jpg" alt="skill">
			<p>Symfony2 - Фреймворк для языка PHP</p>
		</div>


		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/laravel.png" alt="skill">
			<p>Laravel php фреймворк</p>
		</div>

		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/angular4.png" alt="skill">
			<p>Ангуляр 4 вышедший в марте 2017 года, опробован и может быть использован в разработке</p>
		</div>

		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/D3-01.png" alt="skill">
			<p>Библиотека nvD3 - Библиотека для построения чартов и графиков
				<a href="http://nvd3.org/">посмотреть</a>
			</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/lodash.png" alt="skill">
			<p> Популярная js библиотека
				<a href="https://lodash.com/">посмотреть</a>
			</p>
		</div>

		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/primeNg.png" alt="skill">
			<p>PrimeNg -популярная библиотека ангуляр компонентов
				<a href="https://www.primefaces.org/primeng/#/">посмотреть</a>
			</p>
		</div>
	</div>

	<div class="row p-y-2">
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/ph.jpg" alt="skill">
			<p>Adobe Photoshop - инструмент для работы с графикой</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/php-elephant.png" alt="skill">
			<p>PHP - - язык разработки</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/postgresql.png" alt="skill">
			<p>Postgressql - Популярная База данных</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/refills-logo.svg" alt="skill">
			<p>Bourbone Refills - миксины + html заготовки, для очень быстрой верстки</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/sass.png" alt="skill">
			<p>SASS метаязык для работы с CSS</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/sass-compass.png" alt="skill">
			<p>Compass - Инструмент для работы с метаязыком SASS</p>
		</div>
	</div>

	<div class="row p-y-2">
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/bitrix.png" alt="skill">
			<p>Bitrix система управления сатом</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/storm.png" alt="skill">
			<p>PHPSTORM - популярная среда разработки</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/twig.png" alt="skill">
			<p>Twig - популярный шаблонизатор</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/angularjs.png" alt="skill">
			<p>Фреймворк разработки одностраничных приложений</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/subversion_logo.png" alt="skill">
			<p>Система контроля версий кода</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/TortoiseGit_logo.svg.png" alt="skill">
			<p>Инструмент для работы с системой контроля версий (git и svn)</p>
		</div>

	</div>

	<div class="row p-y-2">
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/c.png" alt="skill">
			<p>C# - язык разработки</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/composer.jpg" alt="skill">
			<p>Composer - популярный менеджер зависимостей библиотек

			</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/css3.png" alt="skill">
			<p>CSS3 - Таблицы Каскадных стилей</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/emmet.png" alt="skill">
			<p>Emmet - инструмент быстрого набора текста для CSS и HTML</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/fa.png" alt="skill">
			<p>Font Awesome - Самая большая библиотека иконочных шрифтов</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/git.jpg" alt="skill">
			<p>Git - Система контроля версий</p>
		</div>
	</div>

	<div class="row p-y-2">
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/jquery.gif" alt="skill">
			<p>Jquery популярый фреймворк для работы с java-scrypt</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/mcss.jpg" alt="skill">
			<p>mcss - Методология многослойного кода</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/mysql.png" alt="skill">
			<p>MYSQL - одна из самых популярных баз данных</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/MySQLWorkbench.png" alt="skill">
			<p>MySQLWorkbench популярный клиент для работы c MYSQL</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/neat.svg" alt="skill">
			<p>Bourbone Neat - система сеток</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/parallax_logo.png" alt="skill">
			<p>Паралакс технология</p>
		</div>
	</div>

	<div class="row p-y-2">
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/ai.jpg" alt="skill">
			<p>Adobe Illustrator - Инструмент для работы с графикой</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/bit.png" alt="skill">
			<p>Bitbucket - Популярная система контроля версий</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/bitters-logo.svg" alt="skill">
			<p>Bourbone Bitters - структурированные стили для типографики

			</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/Boostrap_logo.png" alt="skill">
			Версии 3 и 4.
			Bootstrap - популярный фреймворк разработки
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/bourbon.png" alt="skill">
			Bourbon - Популярная бибилиотека миксинов SASS
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/bower-logo.png" alt="skill">
			Bower - пакетный менеджер
		</div>
	</div>

	<div class="row p-y-2">
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/grunt.png" alt="skill">
			<p>Grunt - Инструмент для работы с SASS и SCSS</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/gulp-sass.png" alt="skill">
			<p>Сборщик контента</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/haml.png" alt="skill">
			<p>Haml (HTML abstraction markup language) — язык разметки для упрощённой генерации HTML.</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/html5.png" alt="skill">
			<p>HTML5 - Язык разметки Гипертекста</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/jade-logo-header.svg" alt="skill">
			<p>Java Agent Development Framework — программная среда разработки мультиагент
			   ных систем и приложений.</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/javascript_logo.jpg" alt="skill">
			<p>Java-scrypt - Язык разрабокт</p>
		</div>
	</div>

	<div class="row p-y-2">
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/lazy-line-painter.jpg" alt="skill">
			<p>Популярная библиотека svg анимаций</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/dql.jpg" alt="skill">
			<p>Язык Запросов</p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/yaml.jpg" alt="skill">
			<p>Дружественный формат сериализации данных </p>
		</div>
		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/json.png" alt="skill">
			<p>(JavaScript Object Notation) - простой формат обмена данными, удобный для чтения и написания как человеком, так и компьютером.</p>
		</div>

		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/npm.jpg" alt="skill">
			<p>Пакетный менеджер</p>
		</div>

		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/vuejs.png" alt="skill">
			<p>MVVM JavaScript-фреймворк vue.js</p>
		</div>
	</div>

	<div class="row p-y-2">

		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/sylius.jpg" alt="skill">
			<p>E-commerce решиение на symfony 2, Sylius</p>
		</div>

		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/jasmin.jpg" alt="skill">
			<p>Библиотека для тестирования фронтенда</p>
		</div>

		<div class="col-xs-12 col-md-2">
			<img class="img-fluid" src="img/jquery-jasmine.png" alt="skill">
			<p>Дополнение к Jasmine на jQuery для тестирвоания DOM</p>
		</div>
	</div>


</div>


</div>