<div class="container m-y-2">
    <div class="row">

        <h2 class="m-b-2">
            Технологии и инструменты используемые на этой странице (сайте)
        </h2>
        <div class="col-xs-12 col-md-2">

            <img class="img-fluid img-thumbnail" src="img/angularjs.png" alt="angular">
        </div>
        <div class="col-xs-12 col-md-8">
            <p>
                Конечно самая главная технология на этой странице это супергероический фреймворк от google
                Angular.js. На этом сайте (странице) выдержаны постулаты MVC.
                Имеется роутинг при помощи которого осуществляется навигация по страница сайта и переход по ссылкам без перезагрузки страницы,
                директивы позволяющие вывести это самое меню на всех страницах. Зарегистрированы зависимости от модуля роутинга.
                Производятся динамические вычисления (мой возраст вычисляется динамически на странице История, позволяя резюме быть актуальным :) ).
                Тут на всю катушку использован $scope чтобы передавать данные между моделью и представлением.
            </p>

        </div>
        <div class="clearfix"></div>
        <div class="col-xs-12 col-md-2">
            <img class="img-fluid img-thumbnail" src="img/Boostrap_logo.png" alt="bootstrap">
        </div>
        <div class="col-xs-12 col-md-8">
            <p>
                Кудаже без этого замечательного css фреймвока Bootstrap. Огромная популярнось бутстрапа сделала его
                наверное самым распространенным фреймворком в мире. Как извесно огромное (подавляющее) большинство сайтов
                сделано при помощи систем управления контентом, их красивые дизайны сделаны настоящими профессионалами,
                а верстка осуществленна при поможи нашего любимого бутстрапа. Зайдире на templatemonster.com, на themforest.net
                и вы увидите что 98% тем на любые виды систем управления контентом сделаны при помощи bootstrap. На момент написания
                этого текста в продакшене используется bootstrap3.5. Но на официальном сайте доступен для скачивания bootstrap4 alfa
                , официальный релиз которого разработчики обещают в ближайшее время. Новый бутстрап чудесен, особенно мне нравятся его
                хелперы и огромная куча дополнительных плюшек в отличии от 3. Но мы как говорится впереди планеты всей. Добро пожаловать.
            </p>
        </div>

        <div class="clearfix"></div>
        <div class="col-xs-12 col-md-2">
            <img class="img-fluid img-thumbnail" src="img/sass.png" alt="sass">

        </div>
        <div class="col-xs-12 col-md-8">
            <p>
                Верстка сайта, невозможна без Css, все будет очень не красиво. Забавно но в современной верстке Css, как
                самостоятельная еденица канул в лету. Препроцессоры сделали свое хорошее дело, и не один уважающий свой труд
                верстальщик не использует чистый ксс без острой необходимости на то, все используют препроцессоры Sass/Scss, Less,
                Stylus и другие. На этом сайте у меня используется sass. Еще один забавный факт, написав этот сайт, я сам написал
                всего 9 строчек кода на sass. Все остальные стили были использованы из фреймфорка bootstrap4, и файлика с дополнительными
                хелперами написанными мной для проекта superlative. Как говорится зачем изобретать колесо, если за нас уже все изобретено.
                Весь код уже написан нашими колегами или нами ранее, знания позволяют нам делать многое гораздо быстрее.
            </p>
        </div>

        <div class="clearfix"></div>
        <div class="col-xs-12 col-md-2">
            <img class="img-fluid img-thumbnail" src="img/sass-compass.png" alt="compass">

        </div>
        <div class="col-xs-12 col-md-8">
            <p>
                Как я писал выше в системе использован проепроцессор sass. Чтобы его компилировать в css, нужнен компилятор,
                Из множетва компиляторов (grunt, gulp, compass и др.) в этом проекте я выбрал compass. Мне очень нарвится его
                простая установка и настройка. Watcher compass'a просто чудо, не отваливается и не виснет, написан на ruby, и это
                требует установки на комп Ruby, но игра стоит свеч.
            </p>
        </div>

        <div class="clearfix "></div>
        <div class="col-xs-12 col-md-2 m-t-1">
            <img class="img-fluid img-thumbnail" src="img/css3.png" alt="css3">

        </div>
        <div class="col-xs-12 col-md-8 m-t-1">
            <p>
                Итак compass скомпилировал нам наш sass в css3, в этом проекте не удалось показать всю мощь css3, дабы
                кода очень мало и новых свойств применено небыло, но все же он тут есть.
            </p>
        </div>

        <div class="clearfix "></div>
        <div class="col-xs-12 col-md-2 m-t-1">
            <img class="img-fluid img-thumbnail" src="img/emmet.png" alt="emmet">

        </div>
        <div class="col-xs-12 col-md-8 m-t-1">
            <p>
               Эммет это сборка шорткодов для набора html, sass, css. Без него в современной верстве конечно можно,
                только вопрос остается зачем? Зачем писать по 20 букв если можно написать 2 и эммет зделает всю работу
                по набору за вас. Эммет позволяет в разы увеличить набор текста в проекте и отказаться от него былобы преступлением
                против свободного времени!
            </p>
        </div>

        <div class="clearfix "></div>
        <div class="col-xs-12 col-md-2 m-t-1">
            <img class="img-fluid img-thumbnail" src="img/javascript_logo.jpg" alt="javascript">

        </div>
        <div class="col-xs-12 col-md-8 m-t-1">
            <p>
               Современные сайты трудно представить без javascript. Javascript лежит в основе супергероического
               фреймворка Angular, без него невозможно сделать сайт "живым" большинство анимаций в современном сайте, это
               сочетание css и javascript.
            </p>
        </div>

        <div class="clearfix "></div>
        <div class="col-xs-12 col-md-2 m-t-1">
            <img class="img-fluid img-thumbnail" src="img/git.jpg" alt="javascript">

        </div>
        <div class="col-xs-12 col-md-8 m-t-1">
            <p>
                Даже не представляю, как можно работать без системы контроля версий, пусть то будет git, mercurial, svn
                или что бы то нибыло. Именно благодаря гиту, и гитхабу в целом вы смотрите на этот сайт. Как известно
                гитхаб позволяет размещать у себя на сайте в свободном доступе странички на джавааскрипте, без баз данных
                и без компонентов бекенда, которые он отображает как обычные сайты. Спасибо добрым людям.
                Работа в коменде без системы контроля версий вообще кажется невозможной в современном строениии web приложений.
                В даном проекте используется git.
            </p>
        </div>

        <div class="clearfix "></div>
        <div class="col-xs-12 col-md-2 m-t-1">
            <img class="img-fluid img-thumbnail" src="img/json.png" alt="javascript">

        </div>
        <div class="col-xs-12 col-md-8 m-t-1">
            <p>
                (JavaScript Object Notation) - простой формат обмена данными,
                удобный для чтения и написания как человеком, так и компьютером.
                Он основан на подмножестве языка программирования JavaScript, определенного
                в стандарте ECMA-262 3rd Edition - December 1999.
                Действительно очень простой формат обьмена данными, без него мне бы было гораздо сложнее проследить
                зависимости и конфигурации данного приложения, именно в этом формате определяется из чего будет состоять
                приложение
            </p>
        </div>

        <div class="clearfix "></div>
        <div class="col-xs-12 col-md-2 m-t-1">
            <img class="img-fluid img-thumbnail" src="img/gulp-sass.png" alt="javascript">

        </div>
        <div class="col-xs-12 col-md-8 m-t-1">
            <p>
               Вот мы уже определили из чего мы соберм наши и не наши стили (compass), а чем собирать javascript я так и не написал,
                В данной системе я использовал gulp. Можно конечно было обойтись и без него, но я не люблю когда в сайт подключается
                огромное количество файлов javascript, и браузер запрашивает каждый файл у сервера, все это значительно увеличивает
                скорость загрузки страницы. А так делать нам не велит google. А если google не велит лучше так не делать,
                а то можно под санкции робота попасть и индексация в поисковике будет вас индексировать очень нехорошей цифрой.
                При помощи галпа и его плагинов gulp-watch и gulp-rigger осуществлена сборка запчастей от angular в единый скрипт, для
                его красивого подключения в страницу сайта.
            </p>
        </div>

        <div class="clearfix "></div>
        <div class="col-xs-12 col-md-2 m-t-1">
            <img class="img-fluid img-thumbnail" src="img/bower-logo.png" alt="javascript">

        </div>
        <div class="col-xs-12 col-md-8 m-t-1">
            <p>
                Bower - это птичка котороя приносит нам то что мы ее просим, причем очеь быстро. Пакетный менеджер bower,
                один из самых приятных инструментов, он понимает файлы в json формате и складывает все что указано по списку
                в свое гнездо (bower-component). При помощи bower в этом проекте подключены и использубтся следующие компоненты:


            </p>
            <ul>
                <li>"bootstrap": "v4.0.0-alpha.2",</li>
                <li>"strict-reset.css": "^0.5.2",</li>
                <li>"angular-route": "1.5.x",</li>
                <li>"angular-resource": "1.5.x",</li>
                <li>"angular-animate": "1.5.x",</li>
                <li>"angular": "1.5.x",</li>
                <li>"tether": "^1.3.2"</li>

            </ul>

        </div>

        <div class="clearfix "></div>
        <div class="col-xs-12 col-md-2 m-t-1">
            <img class="img-fluid img-thumbnail" src="img/npm.jpg" alt="javascript">

        </div>
        <div class="col-xs-12 col-md-8 m-t-1">
            <p>
              Пакетный менеджер npm, как говорит одна из статей на <a href="https://habrahabr.ru/post/243335/">хабре</a>,
                предназначен для простых смертных, которые хотят использовать grunt и gulp в своей работе. Bower'у пока недоступен
                функционал npm, но gulp нам нуже как воздух в этом проекте.
                При помощи npm в этот проект притянуты:

            </p>
            <ul>
                <li>"gulp": "^3.9.1",</li>
                <li>"gulp-rigger": "^0.5.8",</li>
                <li>"gulp-watch": "^4.3.5"</li>
            </ul>

        </div>

        <div class="clearfix "></div>
        <div class="col-xs-12 col-md-2 m-t-1">
            <img class="img-fluid img-thumbnail" src="img/css-reset.png" alt="css-reset">

        </div>
        <div class="col-xs-12 col-md-8 m-t-1">
            <p>
              Как вы знаете, каждый себя уважающий браузер, очень хочет добавить что то свое в ваши стили, вдруг вы забыли
                присоеденить Css или он у вас прописан не на все случаи жизни, браузеры дописывают немного отсебятины в ваш
                код чтобы сделать его более красивым на их вкус. Чтобы это предотвратить, приходится сбрасывать стили браузера
                библиотека strict-reset.css написанная на sass как раз обьещает нам сделать почти сброс Эрика Маера. Она удобно
                приносится bower'ом и проста в обращении.
            </p>
        </div>

        <div class="clearfix "></div>
        <div class="col-xs-12 col-md-2 m-t-1">
            <img class="img-fluid img-thumbnail" src="img/storm.png" alt="css-reset">

        </div>
        <div class="col-xs-12 col-md-8 m-t-1">
            <p>
               Без среды разработки сейчас никуда, я обчень люблю phpstorm и это мой основной инструмент для работы.
                В моем шторме куча плагинов и настроек, это почти как любимый человек с которым у вас очень нежные и трепетные отношения.
                Говорить о нем можно бесконечно долго и обсудить все возможности все равно не хватит времени.
            </p>


        </div>

    </div>
</div>
